<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Bark</title>
    <link rel="stylesheet" href='<%= Routes.static_path(@conn, "/css/app.css") %>'/>
    <script defer type="text/javascript" src='<%= Routes.static_path(@conn, "/js/app.js") %>'></script>
  </head>
  <body class="tertiary-background">
    <header>
      <nav class="navbar navbar-light bg-bark-secondary">
        <div class="container-fluid">
          <%= link to: Routes.page_path(@conn, :index) do 
            img_tag("/images/logo_2.svg", width: "30", height: "24")
          end
          %>
          <%= form_for @conn, "/search", [method: :get, class: "d-flex"], fn f -> %>
            <%= search_input f, :query, class: "form-control mr-2", placeholder: "Search"%>
            <%= submit "", class: "btn btn-bark-primary fa fa-search" %>
          <% end %>
          <div class="text-light">
            <%= if @signed_in? do %>
              Signed in as: <strong><%= Bark.Accounts.current_user(@conn).username %></strong>
              <%= link "Sign Out", to: Routes.session_path(@conn, :delete), method: :delete, class: "btn btn-outline-bark-primary" %>
            <% else %>
              <%= link "Sign up", to: Routes.registration_path(@conn, :new), class: "btn btn-bark-primary ml-md-3" %>
              <%= link "Sign in", to: Routes.session_path(@conn, :new), class: "btn btn-outline-bark-primary ml-md-3" %>
            <% end %>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="main">
      <div class="content-wrap">
        <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
        <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
        <section>
          <%= @inner_content %>
        </section>
      </div>
      <footer class="footer bg-bark-secondary text-white">
        <div class="text-center p-2">
          Made by  
          <a href="https://github.com/JVBorges" target="_" class="text-bark-primary">João Vitor</a>
            using 
          <a href="https://www.phoenixframework.org/" target="_" class="text-bark-primary">Phoenix Framework</a>
        </div>
      </footer>
    </main>
  </body>
</html>
