<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <%= textarea f, :body, class: "form-control" %>
  <%= error_tag f, :body %>

  <div class="pull-right mt-2">
    <%= submit "Bark!", class: "btn btn-bark-primary" %>
  </div>
<% end %>
